{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% load app_tags %}

{% block content %}
{% user_voted_tag ticket user.username as voted %}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <h3 class="card-header">{{ ticket.title }}</h3>
            <div calss="card-body">
                <p class="ticket-description card-text">{{ ticket.text }}</p>
                <p>{{ticket.created_date}}</p>
                <p>{{ticket.created_by}}</p>
            </div>
            <div class="card-footer footer-grid">
                    {% if voted %}    
                        <a href="" class="btn btn-outline-success btn-sm disabled ticket-footer-link">Upvote <span class="glyphicon glyphicon-chevron-up"></span></a>
                    {% else %}
                        <a href="{% url 'upvote_ticket' ticket.id %}"class="btn btn-sm btn-outline-success ticket-footer-link">Upvote <span class="glyphicon glyphicon-chevron-up"></span></a>
                    {% endif %}
                    <p class="ticket-footer-label ">Votes:</p> <p class="ticket-footer-info">{{ ticket.votes }}</p>
                    <p class="ticket-footer-label">Type:</p> <p class="ticket-footer-info">{{ ticket.ticket_type }}</p>
                    <p class="ticket-footer-label">Status:</p> <p class="ticket-footer-info">{{ ticket.status }}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <a href="{% url 'tickets' %}" class="btn btn-default">Back to Tickets</a>
    </div>
    <div class="col-sm-6">
        <a href="{% url 'edit_ticket' ticket.id %}" class="btn btn-default">Edit this Ticket</a>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-8">
        <form role="form" method="post" id="comment-form" action="{% url 'ticket_detail' ticket.id %}">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <input class=" btn btn-primary" id="make_comment_btn" name="comment" type="submit" value="Comment">
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            {% if ticket.comment_set.all %}
                <h3 class="card-header">Comments</h3>
                <div class="comments">
                    {% for comment in ticket.comment_set.all %}
                        
                        <h5 class="card-title">
                            {{ comment.author }} said on {{ comment.created_date }}
                        </h5>
                        <p class="card-text">
                            {{ comment.text }}
                        </p>

                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}