{% extends 'base.html' %}
{% load app_tags %}

{% block content %}
<div class="row">
{% for ticket in tickets %}
{% user_voted_tag ticket user.username as voted %}
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card">
            <h3 class="card-header">{{ ticket.title }}</h3>
            <div class="card-body">
                <p class="ticket-description card-text">{{ ticket.text | truncatewords:15 }}</p>
                <a href="{% url 'ticket_detail' ticket.id %}" class=" card-link btn btn-sm btn-outline-primary read-more" id="new_ticket_btn" name="ticket_detail">Read More</a>
            </div>
            <div class="card-footer footer-grid">
                    {% if voted %}    
                        <a href="" class="btn btn-outline-success btn-sm disabled ticket-footer-link">Upvote <span class="glyphicon glyphicon-chevron-up"></span></a>
                    {% else %}
                        <a href="{% url 'upvote_ticket' ticket.id %}"class="btn btn-sm btn-outline-success ticket-footer-link">Upvote <span class="glyphicon glyphicon-chevron-up"></span></a>
                    {% endif %}
                    <p class="ticket-footer-label ">Votes:</p> <p class="ticket-footer-info">{{ ticket.votes }}</p>
                    <p class="ticket-footer-label">Type:</p> <p class="ticket-footer-info">{{ ticket.ticket_type }}</p>
                    <p class="ticket-footer-label">Status:</p> <p class="ticket-footer-info">{{ ticket.status }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row create-ticket-button">
    <div class="col-sm-12">
        <p><a href="{% url 'new_ticket' %}" class=" btn btn-primary btn-sm" id="new_ticket_btn" name="new_ticket">Create New Ticket</a></p>
    </div>
</div>
{% endblock %}
