{% extends 'base.html' %}
{% load static from staticfiles %}

{% load bootstrap_tags %}

{% block page_title %}Login Page{% endblock %}

{% block page_heading %}Login{% endblock %}

{% block content %}
<form class="_form" method="POST">
    {% csrf_token %}
    {{ login_form | as_bootstrap }}
    <button type="submit" class="btn btn-success">Login</button>
</form>

<p>
    <a class="password-reset-btn btn btn-sm btn-default" href="{% url 'password_reset' %}">Reset Password</a>
</p>
{% endblock %}