{% extends 'base.html' %}
{% block content %}
    {% if user.is_staff %}
        <div class="blog-btn-container">
            <a class="btn btn-primary" href="{% url 'new_post' %}">Create New Post</a>
        </div>
    {% endif %}
    {% for post in posts %}
        <div class="row post">
            <div class="card col-sm-12">
                <h3>
                    {{post.title}}
                </h3>
  
                <p>
                    {{ post.content|truncatewords:30}}
                </p>
                <p>
                    <a href="{% url 'post_detail' post.id %}" class="btn btn-outline-primary">Read More</a>
                </p>
                <p><span class="boldtext">Published on: </span>{{ post.published_date }}</p>
                <p><span class="boldtext">Views: </span>{{ post.views }}</p>
                <p><span class="boldtext">Tag: </span>{{ post.tag }}</p>
                
            </div>
        </div>
    {% endfor %}
{% endblock %}